* {
    -fx-font-family: "Arial";
}

/* Fondo principal */
#background {
    -fx-background-color: linear-gradient(to bottom right, #5ea980, #9fd290);
}

/* VBox del formulario */
#form {
    -fx-max-height: 250;
    -fx-max-width: 400; /*400*/
    -fx-background-radius: 15;
    -fx-border-radius: 15;
    -fx-border-width: 1px;
    -fx-padding: 10;
    -fx-background-color: linear-gradient(to bottom right, #c0c2c1,#f7f8f7);
    -fx-border-color: #747c76;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.4), 10, 0, 0, 4);
}

/* Labels */
.label {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-text-fill: #068652;
}

/* TextFields */
.text-field {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 1px;
    -fx-padding: 5 10 5 10;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-background-color: rgba(123, 127, 68, 0);
    -fx-border-color: rgba(58, 58, 58, 0.38);
    -fx-text-fill: rgba(58, 58, 58, 0.38);
    -fx-prompt-text-fill: rgba(58, 58, 58, 0.38);
}

/* TextFields al enfocarse */
.text-field:focused {
    -fx-border-width: 2px;
    -fx-text-fill: rgba(58, 58, 58, 0.71);
    -fx-prompt-text-fill: rgba(58, 58, 58, 0.71);
    -fx-border-color: rgba(58, 58, 58, 0.71);
}

/* Botones */
.button {
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-border-width: 0.5px;
    -fx-border-color: #6f726f;
    -fx-text-fill: #e3dacd;
    -fx-background-color: rgba(6, 134, 82, 0.87)
}

/* Botones al poner el puntero encima */
.button:hover{
    /*-fx-border-width: 2px;*/
    -fx-text-fill: #e3dacd;
    -fx-border-color: #6f726f;
    -fx-background-color: #71b584;
    -fx-effect: dropshadow(gaussian, rgba(47, 47, 47, 0.5), 5, 0.5, 0, 0);
}

/* Botones al presionar */
.button:pressed{
    -fx-border-width: 1px;
    -fx-text-fill: #c7bfb5;
}

/* Clase de estilo para labels que te mueven a alguna vista */
.enlace{
    -fx-font-size: 12px;
    -fx-underline: true;
    -fx-font-style: italic;
}

/* Clase de estilos para mensajes de error */
.error{
    -fx-font-size: 12px;
    -fx-font-style: italic;
    -fx-font-weight: lighter;
    -fx-text-fill: #e80000;
}


/* Clase de estilos para votones que vuelven a la vista anterior */
.volver {
    -fx-border-width: 1px;
    -fx-text-fill: #068652;
    -fx-background-color: rgba(190, 192, 191, 0);
    -fx-border-color: rgba(58, 58, 58, 0.38);
}