.button {
    -fx-background-color: rgb(227, 227, 227);
    -fx-text-fill: #068652;
    -fx-font-size: 20;
    -fx-max-width: 35;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.button:hover {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.scroll {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;
    -fx-padding: 0;
    -fx-border-color: transparent;
    -fx-border-width: 0;
}

.scroll .viewport {
    -fx-background-color: transparent;
}

.flowPane {
    -fx-background-color: transparent;
    -fx-hgap: 10;
    -fx-vgap: 10;
    -fx-padding: 10;
}