* {
    -fx-font-family: "Arial";
}

/* Botones */
.button{
    -fx-background-color: #ffffff;
    -fx-text-fill: #545454;
    -fx-border-width: 0;
    -fx-font-size: 30;
    -fx-max-width: Infinity;

}

.button:hover{
    -fx-background-color: #efefef;
    -fx-text-fill: #068652;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
    -fx-border-width: 0 0 0 6;
    -fx-border-color: #068551;
}

.button:pressed{
    -fx-effect: dropshadow(gaussian, rgba(47, 47, 47, 0), 5, 0.5, 0, 0);
}

.btSelect{
    -fx-border-width: 0 0 0 6;
    -fx-background-color: #efefef;
    -fx-text-fill: #068652;
    -fx-border-color: #068551;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

/* Barras separadoras */
.separator{
    -fx-max-width: 280;
}

/* Cuerpo del Sidebar */
.principal{
    -fx-background-color: #ffffff;
    -fx-pref-width: 300;
    -fx-border-width: 0 1.5 0 0;
    -fx-border-color: #efefef;
}
